.metadata
bin/
*.project
*.classpath
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.externalToolBuilders/
*.launch
.factorypath
.buildpath
.target

nbproject/
target/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
build.xml
manifest.mf
*.jar

dependency-reduced-pom.xml
